@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="font-size: 75px;
        max-width: 1200px;
        text-align: center;">
    Qui sommes nous?</h1>
<br />
<p style="font-size: 30px; max-width: 1200px; text-align: center;">
    ShoesYou est un site d'e-commerce se spécialisant dans l'offre de chaussures pour femmes respectueuse de l'environnnement. En se developpant sur le marché du e-commerce ShoesYou espère pouvoir élargir sa clientèle, faire connaitre ses produits et générer de nouveaux revenus.
</p>
<br/>
<br/>
<h1 style="font-size: 75px;
        max-width: 1200px;
        text-align: center;"> Questions fréquentes </h1>
<br />
<p style="font-size: 20px; max-width: 600px; font-weight: bold;"> Pourquoi nous ?</p>
<p style="font-size: 20px; max-width: 600px; font-weight: bold;"> Comment changer l'adresse de livraison?</p>
<p style="font-size: 20px; max-width: 600px; font-weight: bold;"> Comment retourner un article?</p>
<p style="font-size: 20px; max-width: 600px; font-weight: bold;"> Comment être rembourser?</p>
   

